body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: rgb(6, 21, 30);
  background: linear-gradient(
    90deg,
    rgba(6, 21, 30, 1) 0%,
    rgba(11, 40, 55, 1) 50%
  );
}

article {
  color: #ffff;
  padding-left: 50px;
  padding-right: 50px;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.titulo {
  color: white;
  width: 50%;
  font-size: x-large;
  text-align: start;
}

.card {
  width: 200px;
  height: 300px;
  background-color: #d97136;
  border-radius: 20px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.card p {
  font-weight: bold;
  font-size: large;
  color: white;
}

.thermometer {
  width: 60px;
  height: 200px;
  color: #d97136;
  border-radius: 30px;
  background-color: #ffff;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
}

.icon {
  border-radius: 100%;
  background-color: bisque;
  color: black;
}

@media (max-width: 768px) {
  .main-container {
    font-size: medium;
    flex-direction: column-reverse;
    height: auto;
    padding-top: 30px;
  }
}
